/* flex */
.flex {
  display: flex !important;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.nowrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}