/* variables */
:root {
  --primary-color: #00D1FF;
  --secondary-color: #1295bb;
  --tertiary-color: SteelBlue;
  --translucid-color: #00d0ff7c;
  --black-color: #494949;
  --grey-color: #A9A9A9;
  --header-height: 10rem;
}